{% extends 'chat/base.html' %}

{% block content %}

<div class="chat-frame">
    <div class="chat-sub-frame">
            <div class="chat-list">
                {% for c in all_chats %}

                <button
                        {% if c.selected %}
                        class="chat-list-button-selected"
                        {% else %}
                        class="chat-list-button"
                        {% endif %}

                        onclick="window.location.href='{{ c.url }}';">
                    <div class="chat-list-text">
                    {{ c.title }}
                    </div>
                </button>


                <div class="chat-separator">
                </div>
                {% endfor %}
            </div>



            <div class="opened-chat">

                <div class="chat-header">
                    <div class="chat-header-text">
                    {{ chat_name }}
                    </div>
                </div>


                <div class="chat-content">
                    {% for m in messages %}
                        {% if m.user == writer %}
                        <div class="my-chat-message">
                                {{ m }}
                        </div>
                        {% else %}
                        <div class="notmy-chat-message">
                                {{ m }}
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="chat-input">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.text }}
                    </form>
                </div>


            </div>
    </div>
</div>
<br>

{% endblock %}