{% extends 'chat/base.html' %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<div class="chat-frame">
    <div class="chat-sub-frame">
            <div class="chat-list">
                {% for c in all_chats %}

                <button
                        {% if c.selected %}
                        class="chat-list-button-selected"
                        {% else %}
                        class="chat-list-button"
                        {% endif %}

                        onclick="window.location.href='{{ c.url }}';">
                    <div class="chat-list-text">
                    {{ c.title }}
                    </div>
                </button>


                <div class="chat-separator">
                </div>
                {% endfor %}
            </div>



            <div class="opened-chat">

                <div class="chat-header">
                    <div class="chat-header-text">
                    {{ chat_name }}
                    </div>
                </div>


                <div class="chat-content" id="display-chat">

                </div>

                <div class="chat-input">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.text }}
                    </form>
                </div>


            </div>
    </div>
</div>
<br>

<script>
$.ajax({
    type: 'GET',
    url : "{% url 'get_chat_messages' %}",
    dataType: 'json',
    data: {
        chat_title: '{{ chat_name }}',
    },

    success: function(response){

        $("#display-chat").empty();
        for (var key in response.messages)
        {
            if (response.messages[key].user == '{{ writer }}') {
                var temp=
                "<div class='my-chat-message'>"
                +response.messages[key].text+
                "</div>";
            }
            else {
                var temp=
                "<div class='notmy-chat-message'>"
                +response.messages[key].text+
                "</div>";
            }
        $("#display-chat").append(temp);
        }
    }
});

$(document).ready(function(){

    setInterval(function(){
        $.ajax({
            type: 'GET',
            url : "{% url 'get_chat_messages' %}",
            dataType: 'json',
            data: {
                chat_title: '{{ chat_name }}',
            },

            success: function(response){

                $("#display-chat").empty();
                for (var key in response.messages)
                {
                    if (response.messages[key].user == '{{ writer }}') {
                        var temp=
                        "<div class='my-chat-message'>"
                        +response.messages[key].text+
                        "</div>";
                    }
                    else {
                        var temp=
                        "<div class='notmy-chat-message'>"
                        +response.messages[key].text+
                        "</div>";
                    }
                $("#display-chat").append(temp);
                }
            }
        });
    },1000);
});
</script>

{% endblock %}