{% extends 'chat/base.html' %}

{% block content %}

<div class="chat-frame">
    <div class="chat-sub-frame">
            <div class="chat-list">
            </div>

            <div class="opened-chat">

                <div class="chat-header">
                    {{ chat_name }}
                </div>


                <div class="chat-content">
                </div>

                <div class="chat-input">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.text }}
                    </form>
                </div>


            </div>
    </div>
</div>
<br>

{% endblock %}